<script class="include" type="text/javascript" src="/assets/jquery.jqplot.min.js"></script>
<script class="include" language="javascript" type="text/javascript" src="/assets/jqplot.barRenderer.min.js"></script>
<script class="include" language="javascript" type="text/javascript" src="/assets/jqplot.categoryAxisRenderer.min.js"></script>
<script class="include" language="javascript" type="text/javascript" src="/assets/jqplot.pointLabels.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var s1 = <%= "[#{@vals.join(',')}]" %>;
    // Can specify a custom tick Array.
    // Ticks should match up one for each y value (category) in the series.
    var ticks = <%= "[#{@times.join(',')}]"%>;

	var plot1 = $.jqplot('chart', [s1], {
	        seriesDefaults:{
	            renderer:$.jqplot.BarRenderer,
	            rendererOptions: {fillToZero: true}
	        },
	        series:[
	            {label:'Tweets'}
	        ],
	        axes: {
	            xaxis: {
	                renderer: $.jqplot.CategoryAxisRenderer,
	                ticks: ticks,
					label: 'minutes ago'
	            },
	            yaxis: {
	                pad: 1.05
	            }
	        }
	    });
	});
	$(function() { $('#content').width('<%="#{[(18*@firstt)+30,800].max}px"%>')});
</script>
<div><p><%= "#{pluralize(@total,'tweet','tweets')} in the past hour for the tag \"#{@filterword}\"" %></p>
	<p>Random Tweets:
	<p><ul style="list-style:none;"><% @tweets.each do |twt| %>
		<li style="padding-bottom:10px;"><%= "#{twt.user}: #{twt.text}" %></li>
		<% end %>
	</ul></p>
</div>


<div id="chart" style="margin-left:auto;margin-right:auto;width:<%="#{(18*@firstt)+30}px"%>;height:300px;" />

